*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    position: relative;
    height: 120%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
}
#page1 #nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
}
#nav #logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}
#nav #logo h1{
    margin-left: 70px;
    color: #fff;
}
#nav #nav1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 50px;
}
#nav #nav1 a{
    text-decoration: none;
    font-size: 22px;
    padding-left: 50px;
    color: #fff;
}
#nav #nav1 a >i{
    font-size: 50px;
}
#search{
    position: absolute;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 30px;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */
    display: none;
}
#nav #nav1 a:hover #search{
    display: inline;
}

#main{
    position: relative;
    height: 80%;
    width: 100%;
}
#main h4{
    color: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 15%;
    left: 12%;
    font-size: 25px;
}
#main h1{
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 35%;
    font-size: 62px;
    width: 55%;
    line-height: 1.7em;
}
#subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 10%;
    width: 100%;
}
#news-sub{

    width: 50%;
    height: 100%;
}


#news-sub h1{
    text-align: center;
}
#input{
    gap: 1%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input input:nth-child(1){
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 40px;
}
#input input:nth-child(2){
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    background-color: #2c8702;
}

#number{
    margin-right: 10%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
#line{
    height: 1px;
    width: 40%;
    background-color: #fff;
}
#number h2{
    margin-top: 5px;
    color: green;
    font-size: 30px;
}
#number h3{
    margin-top: 5px;
    color: #fff;
    font-size: 40px;
}